.productView {
    margin-left: auto;
    margin-right: auto;
    max-width: 91.71429rem;
    padding: 1rem 1.5rem;
}

.productView-images {
}

.productView-action {
    margin-bottom: 2rem;
}

.productAccordion-title {
    background-color: transparent;
    padding: .75rem 0;
    border: 0;
    font-size: 16px;
    color: #999999;
    text-decoration: underline;
    margin: 0 0 .375rem;
    padding-right: 1.5rem;
    position: relative
}
.productAccordion-title:after {
    content: '+';
    font-size: 20px;
    line-height: 24px;
    position: absolute;
    top: .75rem;
    right: 0;
    text-align: right;
}
[expanded] > .productAccordion-title:after {
    transform: rotate(45deg);
}
.productAccordion-content {
    padding: 0;
}

.socialLinks {
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
}

.socialLinks-item {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 0;
    margin-bottom: .35714rem;
    margin-right: .78571rem
}
.socialLinks-item:last-child {
    margin-right: 0
}


.writeReview-productDetails .product-brand {
    color: #a5a5a5;
    margin: 0
}
.writeReview-productDetails .product-title {
    margin-top: 0
}
.account--addReturn .table {
    display: block;
    margin-bottom: 3rem
}
.quickView:before,
.quickView:after {
    content: " ";
    display: table
}
.quickView:after {
    clear: both
}
.productReviews-list {
    list-style: none;
    margin: 0 -.75rem;
    max-width: none;
    width: auto;
    font-size: 0
}
.productReviews-list ul,
.productReviews-list ol {
    list-style: none;
    margin-bottom: 0
}
.productReviews-list:before,
.productReviews-list:after {
    content: " ";
    display: table
}
.productReviews-list:after {
    clear: both
}
.productReview {
    padding-left: .75rem;
    padding-right: .75rem;
    width: 100%;
    float: left;
    display: inline-block;
    float: none;
    font-size: 1rem;
    vertical-align: top
}
.productReview-title {
    margin: .5rem 0;
    text-transform: none
}
.productReview-author {
    color: #989898;
    margin: .5rem 0 1rem
}
.productReview-rating {
    display: inline-block;
    margin-bottom: .35714rem
}
.productReview-ratingNumber {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}
.productView-details {
    margin-bottom: 1rem
}
.productView-product >:last-child {
    margin-bottom: 0
}
.productView-title {
    font-size: 20px;
    margin: .75rem 0 0;
}
.productView-brand {
    color: #989898;
    font-size: 15px;
    margin: .375rem 0 0
}
.productView-brand a {
    color: #989898
}
.productView-brand a:hover {
    color: #4f4f4f
}
.productView-price {
    font-size: 18px;
    font-weight: bold;
    margin-top: .75rem
}
.productView-price .price-section {
    display: inline-block;
    margin-right: .375rem
}

.productView-price .price-section--saving {
    font-size: 15px
}
.productView-price abbr {
    border: 0;
    color: inherit;
    font-size: inherit
}
.productView-rating {
    margin-top: .375rem
}
.productView-bulkPricing {
    margin-top: .75rem
}
.productView-bulkPricing-heading {
    font-size: 16px;
    color: #999999;
    text-decoration: underline;
    margin: 0 0 .375rem
}
.productView-bulkPricing-description {
    margin: 0 0 .375rem
}
.productView-heading {
    font-size: 16px;
    color: #999999;
    text-decoration: underline;
    margin: 1.5rem 0 .375rem
}
.productView-info {
    margin: 0
}
.productView-info >:last-child {
    margin-bottom: 0
}
.productView-info-name,
.productView-info-value {
    display: inline;
    margin: 0
}
.productView-info-name {
    margin-right: 5px;
    margin-top: .375rem;
    display: inline-block;
}
.productView-info-value::after {
    content: "\A";
    white-space: pre;
}

.alertBox {
    margin-bottom: .78571rem;
    padding: .78571rem 1.14286rem;
    background-color: #e8e8e8;
    border-radius: 4px
}

.alertBox .icon {
    height:1.42857rem;
    width:1.42857rem
}

.alertBox--success {
    background-color:#d5ffd8;
    border-color:#d5ffd8;
}

.alertBox--success svg {
    fill:#69d66f
}

.alertBox--error{
    background-color:#fdd;
    border-color:#fdd
}

.alertBox--error svg {
    fill:#ff7d7d
}

.alertBox-column{
    display:table-cell;
    vertical-align:middle
}

.alertBox-icon{
    text-align: center;
    padding-right: 1.14286rem
}

.alertBox-message {
    margin: 0;
    width: 100%
}
