---
cart: true
---
{{#partial "page"}}
<div class="page">

    <main class="page-content" data-cart>
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

        {{> components/pleximisations/cart/page-title}}

        <div data-cart-status>
            {{> components/cart/status-messages}}
        </div>

        <!-- Move line below to above -->
        <div id="pleximisation-cart-wrapper">
                <div class="loadingOverlay"></div>

                <div data-cart-content>
                    <!-- 1VINE - START PLEXIMISATIONS -->
                    {{> components/pleximisations/cart/content}}
                    <!-- 1VINE - END PLEXIMISATIONS -->
                </div>

                <div data-cart-totals>
                    <!-- 1VINE - START PLEXIMISATIONS -->
                    {{> components/pleximisations/cart/totals}}
                    <!-- 1VINE - END PLEXIMISATIONS -->
                </div>

                <!-- 1VINE - START PLEXIMISATIONS -->
                {{> components/pleximisations/cart/cart-form}}
                <!-- 1VINE - END PLEXIMISATIONS -->
        </div>

        <div id="pleximisation-empty-cart-wrapper">
            <p class="pleximisation-error-message" id="pleximisation-final-message">Error Message</p>
            <h3>{{lang 'cart.checkout.empty_cart'}}</h3>
        </div>


        {{{snippet 'cart'}}}
    </main>
</div>
{{/partial}}
{{> layout/base}}
