---
cart: true
---
{{#partial "page"}}
<div class="page">

    <main class="page-content" data-cart>
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

        {{> components/cart/page-title}}

        <div data-cart-status>
            {{> components/cart/status-messages}}
        </div>

            <!-- Move cart.items.length check here -->
            <div class="loadingOverlay"></div>

            <div data-cart-content>
                <!-- 1VINE - START PLEXIMISATIONS -->
                {{> components/pleximisations/cart/content}}
                <!-- 1VINE - END PLEXIMISATIONS -->
            </div>

            <div data-cart-totals>
                <!-- 1VINE - START PLEXIMISATIONS -->
                {{> components/pleximisations/cart/totals}}
                <!-- 1VINE - END PLEXIMISATIONS -->
            </div>

            <!-- 1VINE - START PLEXIMISATIONS -->
            {{> components/pleximisations/cart/cart-form}}
            <!-- 1VINE - END PLEXIMISATIONS -->

            <!-- Move line below to above -->
            {{#if cart.items.length}}

        {{else}}
            <h3>{{lang 'cart.checkout.empty_cart'}}</h3>
            {{{ remote_api_scripts }}}
        {{/if}}

        {{{snippet 'cart'}}}
    </main>
</div>
{{/partial}}
{{> layout/base}}
