<div class="pleximisation-cart-totals">
    <ul class="cart-totals">
        <li class="cart-total">
            <div class="cart-total-label">
                <strong>{{lang 'cart.checkout.subtotal'}}:</strong>
            </div>
            <div id="pleximisation-totals-subtotal" class="cart-total-value">
                <span></span>
            </div>
        </li>

        <li class="cart-total">
            <div class="cart-total-label">
                <strong>GST:</strong>
            </div>
            <div id="pleximisation-totals-tax" class="cart-total-value">
                <span></span>
            </div>
        </li>

        <li class="cart-total">
            <div class="cart-total-label">
                <strong>{{lang 'cart.checkout.grand_total'}}:</strong>
            </div>
            <div id="pleximisation-totals-total" class="cart-total-value cart-total-grandTotal">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    <span></span>
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
        </li>
        
    </ul>
</div>