<div class="pleximisation-cart-totals">
    <ul class="cart-totals">
        <li class="cart-total">
            <div class="cart-total-label">
                <strong>{{lang 'cart.checkout.subtotal'}}:</strong>
            </div>
            <div class="cart-total-value">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    <span>{{cart.sub_total.formatted}}</span>
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
        </li>
        {{#if cart.gift_wrapping_cost.amount}}
            <li class="cart-total">
                <div class="cart-total-label">
                    <strong>{{lang 'cart.checkout.gift_wrapping'}}:</strong>
                </div>
                <div class="cart-total-value">
                    <span>{{cart.gift_wrapping_cost.formatted}}</span>
                </div>
            </li>
        {{/if}}
        {{#each cart.taxes}}
            <li class="cart-total">
                <div class="cart-total-label">
                    <strong>{{name}}:</strong>
                </div>
                <div class="cart-total-value">
                    <span>{{cost.formatted}}</span>
                </div>
            </li>
        {{/each}}
        {{#if cart.discount }}
            <li class="cart-total">
                <div class="cart-total-label">
                    <strong>{{lang 'cart.discount'}}:</strong>
                </div>
                <div class="cart-total-value">
                    {{cart.discount.formatted}}
                </div>
            </li>
        {{/if}}
        <li class="cart-total">
            <div class="cart-total-label">
                <strong>{{lang 'cart.checkout.grand_total'}}:</strong>
            </div>
            <div class="cart-total-value cart-total-grandTotal">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    <span>{{cart.grand_total.formatted}}</span>
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
        </li>
    </ul>
</div>