<!-- 1VINE - START PLEXIMISATION -->
<h5><strong>STEP 2</strong> - <span style="text-transform: none;">Select a Customisation</span></h5>

<script src="https://kit.fontawesome.com/6b60be86d6.js" crossorigin="anonymous"></script>
<script src="{{cdn 'assets/js/pleximisations/components.js'}}"></script>
<script src="{{cdn 'assets/js/pleximisations/stencil-utils.min.js'}}"></script>

<div id="pleximisation-block">
    <div class="pleximisation-add" onclick="addPleximisation()"><i class="fa-solid fa-plus"></i></div>
    <div id="pleximisation-options"></div>

    <div class="pleximisation-pricing">

        <div class="pleximisation-charges">

            <div class="pleximisation-quantity">
                <div class="pleximisation-pricing-category">Quantity</div>
                <div class="pleximisation-pricing-unit">10</div>
            </div>

            <div class="pleximisation-individual-price">
                <div class="pleximisation-pricing-category">Price Per Unit</div>
                <div class="pleximisation-pricing-unit">$</div>
            </div>

            <div class="pleximisation-setup-fee">
                <div class="pleximisation-pricing-category">Setup Fees</div>
                <div class="pleximisation-pricing-unit">-</div>
            </div>

        </div>
        
        <div class="pleximisation-total-price">
            <div id="pleximisation-id-total" class="pleximisation-pricing-category">Estimated Total:</div>
            <div class="pleximisation-pricing-unit">$</div>
        </div>

        <div class="pleximisation-product-info" data-product-id='{{product.id}}'>
            <input type="hidden" id="pleximisation-product-id" value='{{product.id}}'>
            <input type="hidden" id="pleximisation-product-image" value=''>
            <input type="hidden" id="pleximisation-product-brand" value='{{product.brand.name}}'>
            <input type="hidden" id="pleximisation-product-title" value='{{product.title}}'>
            <input type="hidden" id="pleximisation-product-url" value='{{product.url}}'>

            {{#each product.options}}
    
                <input type="hidden" id="pleximisation-product-{{toLowerCase this.display_name}}" data-product-variation>
                
            {{/each}}
        </div>

    </div>
</div>
<!-- END - 1VINE PLEXIMISATION -->