<footer class="amp-footer" role="contentinfo">
    {{#all theme_settings.footer_webpages_limit (if theme_settings.footer_webpages_limit '!=' '0')}}
    <article data-section-type="footer-webPages">
        <h5 class="amp-footer-heading">{{theme_settings.footer_webpages_heading}}</h5>
        <ul class="amp-footer-list">
            {{#each (limit pages theme_settings.footer_webpages_limit)}}
            <li>
                <a href="{{url}}">{{name}}</a>
            </li>
            {{/each}}
        </ul>
    </article>
    {{/all}}

    {{#all theme_settings.footer_categories_limit (if theme_settings.footer_categories_limit '!=' '0')}}
    <article data-section-type="footer-categories">
        <h5 class="amp-footer-heading">{{theme_settings.footer_categories_heading}}</h5>
        <ul class="amp-footer-list">
            {{#each (limit categories theme_settings.footer_categories_limit)}}
                <li>
                    <a href="{{url}}">{{name}}</a>
                </li>
            {{/each}}
        </ul>
    </article>
    {{/all}}

    {{#all theme_settings.footer_brands_limit (if theme_settings.footer_brands_limit '!=' '0')}}
    <article data-section-type="footer-brands">
        <h5 class="amp-footer-heading">{{theme_settings.footer_brands_heading}}</h5>
        <ul class="amp-footer-list">
            {{#each (limit shop_by_brand theme_settings.footer_brands_limit)}}
                <li>
                    <a href="{{url}}">{{name}}</a>
                </li>
            {{/each}}
            <li><a href="{{urls.brands}}">{{lang 'brand.view_brands'}}</a></li>
        </ul>
    </article>
    {{/all}}

    {{#if theme_settings.footer_show_custom1}}
    <article data-section-type="footer-webPages">
        <h5 class="amp-footer-heading">{{theme_settings.footer_custom1_heading}}</h5>
        <ul class="amp-footer-list">
            {{#if theme_settings.footer_custom1_title1}}
            <li><a href="{{theme_settings.footer_custom1_link1}}">{{theme_settings.footer_custom1_title1}}</a></li>
            {{/if}}
            {{#if theme_settings.footer_custom1_title2}}
            <li><a href="{{theme_settings.footer_custom1_link2}}">{{theme_settings.footer_custom1_title2}}</a></li>
            {{/if}}
            {{#if theme_settings.footer_custom1_title3}}
            <li><a href="{{theme_settings.footer_custom1_link3}}">{{theme_settings.footer_custom1_title3}}</a></li>
            {{/if}}
            {{#if theme_settings.footer_custom1_title4}}
            <li><a href="{{theme_settings.footer_custom1_link4}}">{{theme_settings.footer_custom1_title4}}</a></li>
            {{/if}}
            {{#if theme_settings.footer_custom1_title5}}
            <li><a href="{{theme_settings.footer_custom1_link5}}">{{theme_settings.footer_custom1_title5}}</a></li>
            {{/if}}
            {{#if theme_settings.footer_custom1_title6}}
            <li><a href="{{theme_settings.footer_custom1_link6}}">{{theme_settings.footer_custom1_title6}}</a></li>
            {{/if}}
        </ul>
    </article>
    {{/if}}

    {{#if theme_settings.footer_show_custom2}}
    <article data-section-type="footer-webPages">
        <h5 class="amp-footer-heading">{{theme_settings.footer_custom2_heading}}</h5>
        <ul class="amp-footer-list">
            {{#if theme_settings.footer_custom2_title1}}
            <li><a href="{{theme_settings.footer_custom2_link1}}">{{theme_settings.footer_custom2_title1}}</a></li>
            {{/if}}
            {{#if theme_settings.footer_custom2_title2}}
            <li><a href="{{theme_settings.footer_custom2_link2}}">{{theme_settings.footer_custom2_title2}}</a></li>
            {{/if}}
            {{#if theme_settings.footer_custom2_title3}}
            <li><a href="{{theme_settings.footer_custom2_link3}}">{{theme_settings.footer_custom2_title3}}</a></li>
            {{/if}}
            {{#if theme_settings.footer_custom2_title4}}
            <li><a href="{{theme_settings.footer_custom2_link4}}">{{theme_settings.footer_custom2_title4}}</a></li>
            {{/if}}
            {{#if theme_settings.footer_custom2_title5}}
            <li><a href="{{theme_settings.footer_custom2_link5}}">{{theme_settings.footer_custom2_title5}}</a></li>
            {{/if}}
            {{#if theme_settings.footer_custom2_title6}}
            <li><a href="{{theme_settings.footer_custom2_link6}}">{{theme_settings.footer_custom2_title6}}</a></li>
            {{/if}}
        </ul>
    </article>
    {{/if}}

    {{#if theme_settings.footer_show_custom3}}
    <article data-section-type="footer-webPages">
        <h5 class="amp-footer-heading">{{theme_settings.footer_custom3_heading}}</h5>
        <ul class="amp-footer-list">
            {{#if theme_settings.footer_custom3_title1}}
            <li><a href="{{theme_settings.footer_custom3_link1}}">{{theme_settings.footer_custom3_title1}}</a></li>
            {{/if}}
            {{#if theme_settings.footer_custom3_title2}}
            <li><a href="{{theme_settings.footer_custom3_link2}}">{{theme_settings.footer_custom3_title2}}</a></li>
            {{/if}}
            {{#if theme_settings.footer_custom3_title3}}
            <li><a href="{{theme_settings.footer_custom3_link3}}">{{theme_settings.footer_custom3_title3}}</a></li>
            {{/if}}
            {{#if theme_settings.footer_custom3_title4}}
            <li><a href="{{theme_settings.footer_custom3_link4}}">{{theme_settings.footer_custom3_title4}}</a></li>
            {{/if}}
            {{#if theme_settings.footer_custom3_title5}}
            <li><a href="{{theme_settings.footer_custom3_link5}}">{{theme_settings.footer_custom3_title5}}</a></li>
            {{/if}}
            {{#if theme_settings.footer_custom3_title6}}
            <li><a href="{{theme_settings.footer_custom3_link6}}">{{theme_settings.footer_custom3_title6}}</a></li>
            {{/if}}
        </ul>
    </article>
    {{/if}}

    <!--
    <article data-section-type="storeInfo">
        <h5 class="amp-footer-heading">{{lang 'footer.info'}}</h5>
        <address>{{nl2br settings.address}}</address>
        {{#if settings.phone_number}}
            <strong>{{lang 'footer.call_us' phone_number=settings.phone_number}}</strong>
        {{/if}}
    </article>
    -->
    
    <article>
        {{#if theme_settings.show_powered_by}}
            <p class="powered-by">Powered by <a href="http://bigcommerce.com?utm_source=merchant&amp;utm_medium=poweredbyBC" rel="nofollow">BigCommerce</a></p>
        {{/if}}
        {{#if theme_settings.show_copyright_footer}}
            <p class="powered-by">&copy; {{settings.store_name}} </p>
        {{/if}}
    </article>
</footer>
