<div class="productView productView--amp">
    <div class="productView-options productView-options--amp">
        <form class="form form--addToCart" method="post" action="{{product.cart_url}}" enctype="multipart/form-data" data-cart-item-add target="_self">
            <input type="hidden" name="action" value="add">
            <input type="hidden" name="product_id" value="{{product.id}}"/>
            <div class="productView-optionsGrid">
                <div data-product-option-change>
                    {{#each product.options}}
                        {{{dynamicComponent 'components/products/options'}}}
                    {{/each}}
                </div>
                {{> components/products/add-to-cart}}
            </div>
            <div class="loadingOverlay"></div>
        </form>
    </div>
</div>
